<form asp-controller="Contact" asp-action="Index">
  <div class="row container-fluid">

    <label class="col-2 col-form-label col-form-label-sm">ContactName:</label>&nbsp;
    <div class="col-3">
      <input class="form-control" name="contactName" type="text" />
    </div>

    <label class="col-1 col-form-label col-form-label-sm">Phone</label>&nbsp;
    <div class="col-2">
      <input class="form-control" name="phone" type="text" />
    </div>
    <input type="submit" class="btn btn-outline-warning btn-sm col-3" value="Search" />
  </div>
</form>